/* Consider moving this to the /viz folder */

#wordcloud_img {
    height: 500px;
    width: 700px;
}

#text_area {
    height: 300px;
    width: 300px;
}

#text_area, #make_wordcloud {
    margin-top: 10px;
    margin-left: 10px;
}

#export_graph1, #export_graph1 {
    display: inline-block;
}

.export_graphs_card {
    display: inline-block;
}

.export_graphs_card>.card-body {
    padding: 1%;
}

.card-body>button {
    margin: 1%;
}


/*                       */
/* PDF Report generation */
/*                       */

#printablePDF {
    outline: 1px solid black;
}

#report_img {
    height: 56px;
}

#header_text>h1 {
    padding-left: 30px;
    font-weight: 400;
}

.col_header {
    background-color: red;
}

#graph {
    min-height: 750px;
}