*pycache*
data/*.json
*.pkl
*.ipynb
*.h5
*.npy
*.pickle
*.bin
*.vec
*_data.txt
*.cache*
.idea*
*ropeproject*
.coverage*
*.hypothesis*
*coverage_report*
.vscode*
*env.py

db.*
*.db
*.rdb

EDA_miner/devops*
EDA_miner/tasks*