*pycache*
data/*.json
*.pkl
*.ipynb
*.h5
*.npy
*.pickle
*.bin
*.vec
*_data.txt
*.cache*
.idea*
*ropeproject*
.coverage*
*.hypothesis*
*coverage_report*
.vscode*
*.env

db.*
*.db
*.rdb
