<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>EDA Miner</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143785705-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-143785705-1');
    </script>

    <link rel="stylesheet" type="text/css" 
        href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
        
    <link rel="stylesheet" type="text/css"
        href="/static/css/10_plotly_base.css" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>


 <body>

 <style>
    .navbar-inverse {
        background-image: linear-gradient(to left, #004e92, #101448);
    }

    .dropdown-toggle, .navbar-brand, .nav-link {
        color: white !important;
        font-weight: 700;

    }

     #collapseableButton {
         color: white;

     }
     .nav-item>.nav-link {
         font-size: 15px;
     }
     .navbar-brand {
         font-size: 17px;
     }
     .dropdown-item {
         font-size: 14px;
     }
     #main_content {
         padding: 1%;
     }

 </style>


 <nav class="navbar navbar-expand-lg navbar-inverse">
  <a class="navbar-brand" href="/">EDA Miner</a>

  <a class="nav-link navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false"
          aria-label="Toggle navigation" id="collapseableButton">
            <i class="fas fa-bars">
              <span></span>
            </i>
  </a>


  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto mt-2 mt-sm-0">

        {% if current_user.is_authenticated %}

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#"
                   id="navbarDropdownMenuLink" role="button"
                   data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">

                    Applications

                </a>

                <div class="dropdown-menu"
                     aria-labelledby="navbarDropdownMenuLink">

                        <a class="dropdown-item" href="/data">
                            <i class="fas fa-database">
                              <span>Data</span>
                            </i>
                        </a>
                        <a class="dropdown-item" href="/viz">
                            <i class="fas fa-eye">
                                <span>Visualization</span>
                            </i>
                        </a>
                        <a class="dropdown-item" href="/modeling">
                            <i class="fas fa-laptop-code">
                                <span>Modeling</span>
                            </i>
                        </a>
                </div>
            </li>
        {% endif %}


        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#"
               id="navbarDropdownMenuLink2" role="button"
               data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false">

                External links

            </a>

            <div class="dropdown-menu"
                 aria-labelledby="navbarDropdownMenuLink2">

                    <a class="dropdown-item" href="https://github.com/KMouratidis/EDA_miner_public">
                        <i class="fab fa-github">
                            <span class="fas"> GitHub repo </span>
                        </i>
                    </a>
                    <a class="dropdown-item" href="https://dash.plot.ly/">
                        <i class="fas fa-link">
                            <span class="fas"> Dash docs </span>
                        </i>
                    </a>
                    <a class="dropdown-item" href="/docs">
                        <i class="fas fa-laptop-code">
                            <span> Our docs </span>
                        </i>
                    </a>

            </div>
        </li>
    </ul>
    <ul class="navbar-nav justify-content-end">
      {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="/user/{{current_user.username}}">
                <i class="fas fa-user">
                  <span>{{current_user.username}}</span>
                </i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">
                <i class="fas fa-sign-out-alt">
                  <span>Logout</span>
                </i>
            </a>
          </li>
      {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/signup">
                <i class="fas fa-user-plus">
                  <span>Sign up</span>
                </i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">
                <i class="fas fa-user">
                  <span>Login</span>
                </i>
            </a>
          </li>

      {% endif %}


    </ul>

  </div>

</nav>


        <div id="main_content" class="col-sm-10">

            {% block main_content %}

            {% endblock %}

        </div>

    <!-- In case we don't want to cover part of the page but the whole -->
        {% block full_page %}

        {% endblock %}


<!--   OTHER STUFF     -->

        <footer>
        </footer>
    </body>



</html>
