{% extends "base.html" %}

{% block main_content %}

    {% if current_user.is_authenticated %}

        <h4>If you want to change your password do it in your profile page.</h4>
        <a href="/user/{{current_user.username}}">Profile page</a>

    {% else %}

        <form action="{{ url_for('forgot_password') }}" method="POST">
            Enter your username and we will send a like to
            reset your password there.
            <br>
            {{ form.username.label }}: {{ form.username }}
            <br>
            {{ form.submit.label }} {{ form.submit}}
            <br>
            {{ form.csrf_token }}
        </form>

    {% endif %}

{% endblock %}