{% extends "base.html" %}

{% block main_content %}

    {% if current_user.is_authenticated %}

        <h4>If you want to change your password do it in your profile page.</h4>
        <a href="/user/{{current_user.username}}">Profile page</a>

    {% else %}

        <form action="{{ url_for('forgot_password') }}" method="POST">
            <h3>Enter your username and we will send a link to
            reset your password to your e-mail.</h3>
            <br>
            <h3>{{ form.username.label }}: {{ form.username }}</h3>
            <br>
            <h3>{{ form.submit}}</h3>
            <br>
            {{ form.csrf_token }}
        </form>

    {% endif %}

{% endblock %}