{% extends "base.html" %}

{% block main_content %}


    <link rel="stylesheet" type="text/css"
        href="/static/css/index.css" />

        <div class="carousel-parent">
            <h1 style="color: white;">EDA Miner can help you...</h1>

            <div id="carouselExampleControls" class="carousel slide"
                 data-ride="carousel">
                  <div class="carousel-inner">

                      <ol class="carousel-indicators">
                            <li data-target="#carouselExampleControls"
                                data-slide-to="0"></li>
                            <li data-target="#carouselExampleControls"
                                data-slide-to="1"></li>
                            <li data-target="#carouselExampleControls"
                                data-slide-to="2"></li>
                      </ol>

                      <div class="carousel-item active">
                              {% include 'apps/data.html' %}
                      </div>
                      <div class="carousel-item">
                              {% include 'apps/visualization.html' %}
                      </div>
                      <div class="carousel-item">
                              {% include 'apps/modeling.html' %}
                      </div>

                </div>

              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>

        </div>

{% endblock %}