{% extends "base.html" %}

{% block main_content %}

    {% if current_user.is_authenticated %}

        <h4>Already logged in</h4>

    {% else %}
        <form action="{{ url_for('login') }}" method="POST">
            <h3>{{ form.username.label }} {{ form.username }}</h3>
            <br>
            <h3>{{ form.password.label }} {{ form.password }}</h3>
            <br>
            <h3>{{ form.submit}}</h3>
            <br>
            <h3>{{ form.csrf_token }}</h3>
        </form>

        Forgot your password? <a href="/forgot_password">Reset</a>

    {% endif %}

{% endblock %}