{% extends "base.html" %}

{% block main_content %}

    {% if current_user.is_authenticated %}

        <h4>If you want to change your password do it in your profile page.</h4>
        <a href="/user/{{current_user.username}}">Profile page</a>

    {% else %}

        <form action="{{ request.path }}" method="POST">
            Enter your new password below:
            <br>
            {{ form.new_password.label }}: {{ form.new_password }}
            <br>
            {{ form.confirm_password.label }}: {{ form.confirm_password }}
            <br>
            {{ form.submit.label }} {{ form.submit}}
            <br>
            {{ form.csrf_token }}
        </form>

    {% endif %}

{% endblock %}