/* (UN)COMMENT IF YOU NEED TO DEBUG LAYOUT */
.row {
    outline: 1px dashed black;
}

.js-plotly-plot, .plot-container, #cytoscape-graph {
    outline: 2px dashed black !important;
}

#report_img {
    height: 56px;
}

#header_text>h1 {
    padding-left: 30px;
    font-weight: 400;
}

.col_header {
    background-color: red;
}

.svg-container {
    margin-right: 10px !important;
}

#github_link {
    font-size: 28px;
    vertical-align: bottom;
    padding-top: 5px;
}

#external_links_caret {
    font-size: 24px;
    vertical-align: middle;
    padding-left: 5px;
}

#button_collapse>span {
    color: #000;
}
