/*#selected_subpage, #selected_subpage>div*/
.app0, #react-entry-point, #react-entry-point>div, #_dash-app-content,
#_dash-app-content>div, #main_content, #main_page, #selected_subpage>div
#_dash-global-error-container, #_dash-global-error-container>div,
#_dash-global-error-container>div>div>div,
#_dash-global-error-container>div>div:nth-child(2),
#selected_subpage, #selected_subpage>div
{
    height: 100% !important;
}

 /*For disabling the extra div on development mode*/
._dash-loading-callback {
    height: 0 !important;
    display: none !important;
}

div .dash-debug-menu, .dash-debug-menu--closed {
    height: 64px !important;
}

button {
    width: 185px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

#button_collapse {
    width: 100%;
    /*padding-left: 20px;*/
    text-align: left;
}

li {
    padding-left: 30px;
    color: #FFF;
}

li>a {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #FFF;
    text-decoration: none;
    max-width: 140px;
    font-weight: bold;
    /* list-style-type: disc; */
}

li>a:hover {
    text-decoration: none;
    color: #FFF;
}



#model-content, #visuals-content, #data-content {
    height: 100%;
    background-color: white;
}


#app_logo {
    margin-top: 10px;
    height: 150px;
    width: 200px;
    display: block;
    margin-left: 0px !important;
}


body {
    font-family: 'Roboto', sans-serif !important;
    /*min-width: 1100px;*/
}

#menudiv {

    display: block;
}

.tab {
    max-height: 60px;
    padding-top: 14px !important;
    padding-bottom: 14px !important;
}

#visuals-content, #data-content, #model-content {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

._dash-undo-redo {
    display: none;
}

#landing_page, #username, #login_form, #landing_page_form {
    align-items: center !important;
    align-content: center !important;
    text-align: center !important;
    padding: 20px;
    vertical-align: center !important;
}

#submit_login_choice {
    text-align: center;
    font-size: 16px;
    color: white;
}

#landing_page
{
	background-image: url("images/graph_abs.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: fixed;
	min-height: 100%;
	min-width: 100%;
    background-color: transparent;
    font-weight: bold;
    padding-top: 200px;
    color: white;
}
