/* (UN)COMMENT IF YOU NEED TO DEBUG LAYOUT */
/*.row {*/
/*    outline: 1px dashed black;*/
/*}*/

/*.js-plotly-plot, .plot-container, #cytoscape-graph {*/
/*    outline: 2px dashed black !important;*/
/*}*/
/* (UN)COMMENT IF YOU NEED TO DEBUG LAYOUT */

.row {
    margin-left: 0;
    margin-right: 0;
}

#printablePDF {
    outline: 1px solid black;
}

#report_img {
    height: 56px;
}

#header_text>h1 {
    padding-left: 30px;
    font-weight: 400;
}

.col_header {
    background-color: red;
}

.svg-container {
    margin-right: 10px !important;
}

#github_link, #dash_link, #dev_link {
    font-size: 26px;
    vertical-align: bottom;
    padding-top: 5px;
}

#dash_link {
    margin-left: 10px;
}

#dev_link {
    margin-left: 20px;
}

#sidebar_collapsible_button>ul>li {
    margin-top: 0;
    margin-bottom: 0;
}

#external_links_caret {
    font-size: 24px;
    vertical-align: middle;
    padding-left: 5px;
}

#button_collapse>span {
    color: #000;
}

#button_collapse, #dark_theme {
    background-color: white;
}

.mb-3.dropdown {
    margin-top: 3px !important;
    margin-bottom: 2px !important;
}

.dropdown-menu {
    width: 270px !important;
    left: -160px !important;
}

#add_nodes_submenu, #connect_nodes_submenu,
#remove_node_submenu, #modify_nodes_submenu,
#load_pipeline_submenu {
    margin-top: 13px !important;
}

#modal, #modal_export_graph {
    min-width: 600px !important;
}

#upload_data_button {
    width: 30%;
    height: 60px;
    line-height: 60px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
}

#wordcloud_img {
    height: 500px;
    width: 700px;
}

#text_area {
    height: 300px;
    width: 300px;
}

#text_area, #make_wordcloud {
    margin-top: 10px;
    margin-left: 10px;
}


.vertical_dropdowns {
    display: block;
    margin: 10px;
    vertical-align: bottom;
}

.horizontal_dropdowns {
    display: inline-block;
    margin: 10px;
    vertical-align: bottom;
    width: 30%;
}

#export_graph1, #export_graph1 {
    display: inline-block;
}

.export_graphs_card {
    display: inline-block;
}

.export_graphs_card>.card-body {
    padding: 1%;
}

.card-body>button {
    margin: 1%;
}